/* 

color: {
  main: {
    primary: '#7883E2',
    primaryHover: '#939CE8',
    secondary: '#e3e5ff',
    secondaryHover: '#c3d2ff',
    pureWhite: '#ffffff',
    offWhite: '#f5f7fb',
  },
  alerts: {
    notice: '#c0a5ff',
    success: '#50cdff',
    successHover: '#6FD6FF',
    warning: '#FFCB17',
    warningBg: '#FFDA5C',
    danger: '#DE6A60',
  },
  fonts: {
    eerieBlack: '#16171D',
    charleston: '#292b3d',
    pureWhite: '#ffffff',
    offWhite: '#fcfbfc',
    grey: '#b1aeb7',
  },
  borders: {
    lightGrey: '#d8d6db',
  }

}*/