/* color: {
  main: {
    primary: '#7883E2',
    primaryHover: '#939CE8',
    secondary: '#c3d2ff',
    secondaryHover: '#e3e5ff',
    pureWhite: '#ffffff',
    offWhite: '#f2f2f2',
  },
  alerts: {
    notice: '#c0a5ff',
    success: '#50cdff',
    successHover: '#6FD6FF',
    warning: '#FFCB17',
    warningBg: '#FFDA5C',
    danger: '#DE6A60',
  },
  fonts: {
    eerieBlack: '#16171D',
    charleston: '#292b3d',
    pureWhite: '#ffffff',
    offWhite: '#fcfbfc',
    grey: '#c4c2c9',
  },
  borders: {
    lightGrey: '#',
  }
}, */